global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen ReadWrite
    bind *:5000
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server citus-dw-01 citus-dw-01.mafc2.mil.my:5432 check port 23267
    server citus-dw-02 citus-dw-02.mafc2.mil.my:5432 check port 23267
    server citus-dw-03 citus-dw-03.mafc2.mil.my:5432 check port 23267

listen ReadOnly
    bind *:5001
    option httpchk
    http-check expect status 206
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server citus-dw-01 citus-dw-01.mafc2.mil.my:5432 check port 23267
    server citus-dw-02 citus-dw-02.mafc2.mil.my:5432 check port 23267
    server citus-dw-03 citus-dw-03.mafc2.mil.my:5432 check port 23267


